.task-list {
  margin-top: 10px;
  margin-bottom: 20px;
}

.task-list-header {
  padding-bottom: 10px;
  justify-content: space-between;
  border-bottom: 2px solid var(--light);
}

.task-list-header > p {
  margin-top: auto;
  margin-bottom: auto;

  font-weight: 600;
}

.edit-btn {
  width: 30px;
  height: 30px;

  background-color: var(--light-03);
  background-image: url('../../assets/edit-icon-white.svg');
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

.edit-task-btn {
  background-color: var(--dark-02);
  background-image: url('../../assets/edit-icon-black.svg');
}

.edit-task-btn:hover {
  background-color: var(--dark-04);
}

#task-list-body {
  margin-top: 20px;
}

.task-item {
  display: flex;
  
  position: relative;

  padding: 10px 10px;
  margin-bottom: 7px;

  justify-content: space-between;
  align-items: center;
  background-color: var(--light);
  color: var(--dark);

  cursor: pointer;

  border-left: 8px solid var(--light);
  border-radius: 5px;
}

.task-item:hover {
  border-left: 8px solid var(--dark-03);
}

.task-name {
  width: 70%;
  font-weight: 600;
}

.task-done {
  text-decoration: line-through;
}
